html 
  head
    title="The computed Layout Network"
    script(src="assets/vis.min.js")
    link(href="assets/vis-network.min.css" rel="stylesheet" type="text/css")
    style(type="text/css").
      #mynetwork {
        width: 90vw;
        height: 90vh;
        border: 1px solid lightgray;
      }
      img{
        position: fixed
      }
  body
    p The computed Layout Network
    img(src="assets/net.png")
    div(id="mynetwork")
    div(id="mynetwork_new")
    script(type="text/javascript").
      var nodes = new vis.DataSet(!{nodes});
      var edges = new vis.DataSet(!{edges});
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {};
      var network = new vis.Network(container, data, options);
    script(type="text/javascript").
      var nodesn = new vis.DataSet(!{nodes_new});
      var edgesn = new vis.DataSet(!{edges_new});
      var container = document.getElementById('mynetwork_new');
      var datan = {
        nodes: nodesn,
        edges: edgesn
      };
      var options = {};
      var network = new vis.Network(container, datan, options);

